.main {
    
}

.button {
    background-color: #53AC9B;
    color: #FEFDFA;
    border-radius: 1rem;
    border-color: #FEFDFA;
}

.button:hover {
    background-color: #703F29;
    color: #CF997C;
    border-radius: 1rem;
    border-color: #703F29;
}