.main {
    background-color: #FEFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 2rem;
}

.feedHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
}

.heading {
    transform: rotate(-2deg);
    margin: 0;
    padding: 0;
}

.arrow {
    transform: rotate(93deg);
}