.main {
    background-color: #FEFDFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 1rem;
}