.books {
    width: 24vw;
    height: auto;
}

.boots {
    width: 25vw;
    height: auto;
}

.candles {
    width: 20vw;
    height: auto;
}

.chair {
    width: 25vw;
    height: auto;
}

.clippings {
    width: 15vw;
    height: auto;
}

.flowers {
    width: 24vw;
    height: auto;
}

.purse {
    width: 24vw;
    height: auto;
}