.loginNav {
    background-color: #FEFDFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    display: flex;
    gap: .5rem;
}

.nav {
    background-color: #FEFDFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    align-self: flex-start;
}

.search {
    align-self: center;
}

.div {
    display: flex;
    gap: .1rem;
    align-content: flex-end;
}

.link {
    /* align-self: flex-end; */
    color: black;
}

.button {
    /* align-self: flex-end; */
    border-radius: 1rem;
    background-color: #FEFDFA;
    border: black solid 1px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: #FEFDFA;
    border-radius: 1rem;
    border-color: #FEFDFA;
}

.link:hover {
    color: #FEFDFA;
}