.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    border-radius: 1rem;
    background-color: #FEFDFA;
    border: black solid 1px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: #FEFDFA;
    border-radius: 1rem;
    border-color: #FEFDFA;
}