.search {
    display: flex;
    gap: .5rem

}

.input {
    border-radius: 1rem;
    background-color: #FEFDFA;
    border: black solid 1px;
}

.button {
    border-radius: 1rem;
    background-color: #FEFDFA;
    border: black solid 1px;
    cursor: pointer;
}